@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/dancingscript/v19/If2RXTr6YS-zF4S-kcSWSVi_szLgiuEHiC4W.woff2) format('woff2');
}
main {
  display: flex;
}
.pad {
  flex: 1 0 0;
}
nav {
  display: none;
  flex: 0 0 150px;
  font: 12px Arial,Verdana,sans-serif;
}
@media only screen and (min-width: 795px) {
  nav {
    display: block;
  }
}
nav li {
  list-style-type: none;
  padding: 2px 0 0;
  margin: 1px 0 0 0;
}
article {
  padding: 0 10px;
  flex: 0 1 600px;
  min-width: 480px;
  overflow-x: auto;
  font: 15px Arial,sans;
  text-align: justify;
}
h1 {
  font: 48px 'Dancing Script',cursive !important;
  padding: 3px 0 15px;
  margin: 0;
  outline: none;
}
figure {
  margin: 10px 0;
}
figure img {
  width: 100%;
}
figcaption {
 text-align: center;
 font-size: 11.6px;
 font-style: italic;
}
figure.float-right {
  float: right;
  margin: 5px 0px 5px 10px;
}
figure.float-left {
  float: left;
  margin: 5px 10px 5px 0px;
}
